@page "/Apa"

<PageTitle>Index</PageTitle>

<h1>Todo List</h1>

<div>
    <input value="Name" />
    <select>
        <option>1</option>
        <option>2</option>
    </select>
    <input value="Price" type="number"/>
    <input value="Qty" type="number"/>
    <input value="Description" />
    <button>Simpan</button>
</div>

<div>
    <table>
        <tr>
            <td>Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Qty</td>
            <td>Description</td>
        </tr>
    </table>
</div>


